/*body{
    background: white; 
    padding-top: 70px;
}
.logofont{
    font-family: 'Butterfly Kids', cursive; font-weight: bold;
    padding-left: 30px; bottom: 130px;
    text-align: center;
}
.navbar1{
padding-top: 10px; padding-bottom: 10px; background:  #BEBEBE
}

.centeredbuttons2{
    padding-top: 10px; 
}
.centeredbutton3{
    background: lightgray;
    padding-top: 30px;
}







