 body{
        background: white; 
        padding-top: 70px;
}
   #icon{
        padding-top: 10px; padding-bottom:25px;
   } 
   #instagram{
        padding-top: 10px;  
   }
   #buttom{
        padding-top: 10px;   
   }
       #buttom2{
            padding-top:10px;
   }
    #grid{
        padding-bottom: 10px; padding-top: 10px;
    }
    #home{
        padding-top: 10px;
    }
    #home2{
        padding-top: 10px; background: lightgray;
    }
    .containerTrx{
      margin-top: 10px; 
    }
    .centeredContainer{
        background: white; 
    }
    .postContentContainer{
         padding-bottom: 25px;
    }
    #comentary{
        padding-bottom: 25px;
    }
    #bottomcontainer{
        margin: 8px;
    }
    






